* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --bg_blue_color:#232a47;
  --icon_bg_color: #444963;
  --yellow_color:#f2c94c;
  --text_heading_color:#cbd0e7;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background:#232a47;
  color: #333;
  
}


/* 
  text color : #cbd0e7
  yellow : #f2c94c
  blue : 
  icon bg : #444963
  #bcebed
  #d3d9f0
  #efbbc4
  #f4f7ff


*/

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid #2e81f5;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color:#2e81f5;
  color: #fff;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
/********dashboard_page**********/

.dashboard_page{
  height: 100vh;
  
}

/********Header comp *******/
.dashboard_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem;;
  color: var(--text_heading_color);
}
.right_header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right_header>h3{
  margin-right: 10px;
}
.right_header>button{
  padding: 8px;
  color: #f03;
  outline: 0;
  border: 0;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

/****dashboard_flex_row ****/

.dashboard_flex_row{
  display: flex;
  flex-direction: row;

}

.left_side_menu_comp{
  margin-top: 1rem;
  background-color: var(--icon_bg_color);
  padding: .5rem .5rem;
  border-radius: 5px;

}
.left_side_menu_comp>h6{
  font-size: 1rem;
  font-weight: 300;
}

/*****88left_side_bar*********/
.left_side_bar{
  display: flex;
  flex-direction: row;
  color: var(--text_heading_color);
  padding:1rem;
  cursor: pointer;
}


.dashboard_comp{
  background-color: var(--white);
  height:85vh;
  max-height: fit-content;
  overflow-y: scroll;

  width: 100%;
  border-radius: 1rem;
  margin: 1rem;
  padding:1rem;
  margin-bottom: 10px;
  
}

.articles_comp_first{
  display: flex;
  flex-direction: row;
}
.dashboard_articles_comp{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.articles_action{
  display:flex;
  flex-direction: row;
  align-items: flex-start;

}

.articles_action>p{
  margin-right: 10px;;
}
.articles_comp{
  margin-left: 10px;
}
.dashboard_articles{
  max-height: 80vh;

}

.dashboard_articles_comp_center>img{
  width: 100px;
  height: 100px;
}

.dashboard_articles_comp:hover{
  background-color: var(--text_heading_color)
}


/********88post_form_comp*********/

.post_form_comp{
  display: flex;
  flex-direction: column;
  width: 80%;

}
.post_form_comp>input{
  padding: 10px 12px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.post_form_comp>select{
  padding: 10px 12px;
  font-size: 1rem;
}

.button{
  margin-top: 10px;
  font-size: 1rem;
  padding: 10px 12px;
  background-color:var(--bg_blue_color);
  color: var(--white);
  border: 0;
  outline: 0;
  cursor: pointer;
}
.error{
  color: #f03;
}

.dashboard_comp_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/***********multiinput*******/
.multiinput{
  width: 80%;
}

.dynamic_button{
  color: #2e81f5;
  font-size: 16px;
  margin-top: 10px;
  width: fit-content;

}
.flex_row{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.flex_row>button{
  margin-left: 10px;
}
.flex_row>p{
  margin-right: 5px;
}

.dash_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.dash_grid_comp{

}


.dash_grid_list{
  max-height: 80vh;
  overflow-y: scroll;
  height: 100vh;
}