<html>
    <head>
        <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap&subset=cyrillic-ext" rel="stylesheet">
    </head>
    <body style="text-align: center;background-color: #fff; padding: 2rem;">
        <container style=" display:flex;
        flex-direction:column;
        align-items:center;font-family:'Montserrat';background-color: #fff;align-self: center;align-content: center; ">
    
            <img style="width:10rem;" src="https://ik.imagekit.io/lajz2ta7n/logo.jpeg" alt="" />
            <h1 style=" color:#000;
          margin:1rem 1rem;">Click on the link below to reset your password</h1>
            <h1 style="
           color:#f2c305;
           padding:20px 40px;
           border-radius:4rem;
           font-size:1.2rem;"><a href="<%= link %>"><button style="
           background-color:#f2c305;
           color:#fff;
           border:0;
           padding:20px 40px;
           border-radius:4rem;
           font-size:1.2rem;" onMouseOver="this.style.cursor='pointer'">CLICK HERE</button></a></h1>
            <p style=" margin:1rem 1rem;
           text-align:center;
           color:#555;">Please use this link to reset the password in the application, if you didn't request this, you can
                ignore this email or let us know.
                Thanks </p>
    
            <div style="font-size:1rem;">
                <a style="color:#f2c305;
           font-weight:bold;">FAQ's | </a>
                <a style="color:#f2c305;
           font-weight:bold;">Terms & Conditions | </a>
                <a style="color:#f2c305;
           font-weight:bold;">Contact Us</a>
            </div>
    </container>
    </body>
</html>


